/* .card {
  height: 270px;
  width: 300px;
  transform-style: preserve-3d;
  position: relative;
  border-radius: 60px 20px;
  border: 5px solid white;
  box-shadow: 0 0 8px gray;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: 0.5s ease-out;
} */
.card-front:hover {
  transform: scale(1.01);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.55);
}

.card-front,
.card-back {
  height: 261px;
  width: 296px;
  backface-visibility: hidden;
  position: relative;
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  cursor: pointer;
  transition: 0.5s ease-out;
  box-shadow: 0 0 8px gray;
  /* background-color: #76f2d9; */
  border-radius: 20px;
  border-top: 7px solid blueviolet;
}
.card-event-number {
  color: blueviolet;
  position: relative;
  font-size: 106px;
  /* top: 13px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  left: 25px;
  /* margin-right: 40px; */
}

.card-event {
  color: #161a1d;
  margin: 0;
  position: relative;
  top: 19px;
  display: flex;
  justify-content: flex-start;
  left: 25px;
}

.card-event-icon {
  position: relative;
  left: 225px;
  bottom: 17px;
}

@media (max-width: 600px) {
  .card {
    height: 255px;
    width: 260px;
  }

  .card-front {
    height: 245px;
    width: 250px;
  }

  .card-event-number {
    bottom: 10px;
    left: 16px;
    font-size: 98px;
  }

  .card-event-icon {
    position: relative;
    left: 184px;
    bottom: 20px;
  }

  .card-event {
    left: 10px;
  }
}

@media (max-width: 400px) {
  .card {
    height: 235px;
    width: 225px;
  }

  .card-front {
    height: 225px;
    width: 218px;
    font-size: 23px;
  }

  .card-event {
    color: #161a1d;
    margin: 0;
    position: relative;
    top: 19px;
    display: flex;
    justify-content: flex-start;
    left: 20px;
  }

  .card-event-icon {
    position: relative;
    top: -10px;
    left: 163px;
  }

  .card-event-number {
    /* bottom: 14px; */
    top: 2px;
    left: 13px;
    font-size: 90px;
  }

  .card-event-icon-bs {
    width: 42px !important;
  }

  .card-event-icon-md {
    width: 50px !important;
  }
}
