.Graph {
  width: 296px;
  height: 261px;
  border-radius: 20px;
  transition: 0.5s ease-out;
  box-shadow: 0 0 8px gray;
  border-top: 7px solid blueviolet;
}

.Graph:hover {
  transform: scale(1.01);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.55);
}

.recharts-surface {
  margin-left: -15px;
  width: 290px;
}

@media (max-width: 600px) {
  .Graph {
    width: 260px;
    height: 255px;
  }

  .recharts-surface {
    width: 265px;
  }
}

@media (max-width: 400px) {
  .Graph {
    width: 225px;
    height: 235px;
  }

  .recharts-surface {
    width: 226px;
    height: 226px;
  }
}
