.Graph {
  width: 296px;
  height: 261px;
  border-radius: 20px;
  transition: 0.5s ease-out;
  box-shadow: 0 0 8px gray;
  border-top: 7px solid #6671ff;
}

.Graph:hover {
  transform: scale(1.01);
  box-shadow: 1px 5px 10px gray;
}

.recharts-surface {
  margin-left: -15px;
  width: 290px;
}

@media (max-width: 600px) {
  .Graph {
    width: 280px;
    height: 255px;
    margin-bottom: 50px;
  }

  .recharts-surface {
    width: 265px;
  }
}
