.home-outer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.home-inner {
  margin-left: 15%;
  width: 85%;
  height: 100vh;
  background: #eaf0fe;
  border-radius: 30px;
  z-index: 23;
  display: flex;
  position: relative;
}
.home-main-div {
  width: 70%;
  border-radius: 30px;
  background-color: white;
  overflow-y: scroll;
  padding: 40px;
}
.home-side-div {
  width: 30%;
  background-color: #eaf0fe;
}
.home-recent-outer {
  width: 80%;
  height: 50px;
  margin: auto;
  padding-left: 10px;
  margin-top: -10px;
}
.recent-text {
  font-weight: 600;
  font-size: 22px;
}
.recent-card {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px gray;
  background-color: white;
  display: flex;
}
.recent-card-left {
  width: 3%;
  background-color: orange;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.recent-card-right {
  width: 97%;
  padding: 10px;
}
.recent-event-name {
  font-weight: 600;
}
.recent-event-info {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  width: 63%;
  margin-top: -14px;
  color: gray;
}
.recent-event-location {
  display: flex;
  font-size: 14px;
  margin-top: -10px;
  color: gray;
  margin-bottom: -10px;
}
.home-search-div {
  display: flex;
}
.home-search-bar {
  border-radius: 10px;
  width: 60%;
  background-color: #dbe4fa;
  border: none;
  padding: 10px;
  padding-left: 60px;
  font-size: 18px;
}
.home-search-bar:focus {
  border: none;
  outline: none;
}
.home-search-button {
  border-radius: 10px;
  position: relative;
  top: 0;
  width: 25px;
  height: 25px;
  color: white;
}
.home-search-button-div {
  padding: 10px;
  background: #6671ff;
  width: 45px;
  border-radius: 10px;
  margin-right: -45px;
  z-index: 2;
}
.home-left-user-div {
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: right;
  padding: 10px;
  padding-right: 30px;
  margin-bottom: -10px;
}
.home-left-username {
  font-weight: 600;
  padding-top: 6px;
}
.home-dash-outer {
  border-radius: 20px;
  background-color: #dbe4fa;
  padding: 20px;
}
.home-dash-text {
  font-weight: 600;
  font-size: 22px;
  margin-top: 30px;
}
.home-dash-inner {
  display: flex;
  width: 100%;
}
.home-dash-inner-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-dash-inner-right {
  width: 40%;
}
.home-dash-img {
  width: 100%;
}
.home-dash-wel {
  font-family: emoji;
  font-size: 2rem;
  font-weight: 600;
}
.home-dash-button {
  background: #6671ff;
  padding: 10px;
  width: 140px;
  border-radius: 5px;
  color: white;
}
.home-card-name {
  font-size: 1.3rem;
}
.loading-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(219, 228, 250, 0.95);
  z-index: 99;
}
.home-card-info {
  position: relative;
  top: 2px;
  left: 8px;
  width: 90%;
}
.home-browse-info {
  position: relative;
  top: 2px;
  left: 8px;
}
.home-card-outer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.carousel-control-prev {
  width: 4%;
  margin-left: -10px;
}
.carousel-control-next {
  width: 4%;
  margin-right: -10px;
}
.carousel-control-prev-icon {
  background-image: url("https://www.svgrepo.com/show/97099/left-arrow.svg");
}
.carousel-control-next-icon {
  background-image: url("https://www.svgrepo.com/show/55208/right-arrow.svg");
}
.carousel-indicators {
  display: none;
}
.home-browse-outer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.home-browse-card {
  padding: 15px;
  display: flex;
  box-shadow: 0px 0px 5px darkgray;
  border-radius: 5px;
}
.home-browse-image {
  width: 100%;
    border-radius: 5px;
    height: 200px;
    object-fit: cover;
}
.home-browse-card-left {
  width: 50%;
}
.home-browse-card-right {
  padding-left: 30px;
}
.home-browse-name {
  font-size: 22px;
}
.mbsc-datepicker-tab-wrapper {
  margin-top: -8px;
}
.mbsc-datepicker .mbsc-calendar-slide {
  padding: 0 !important;
}
.mbsc-datepicker .mbsc-calendar {
  padding: 0 !important;
}
.calendar-div {
  padding: 15px !important;
}
.global-loading-gif{
  width: 150px;
  border-radius: 20px;
}
@media (max-width: 600px) {
  .home-inner {
    z-index: -1;
  }
  .home-side-div {
    display: none;
  }
  .home-main-div {
    width: 100%;
  }
  .home-outer {
    height: auto;
  }
}
.css-l7568v-MuiPaper-root-MuiCard-root{
  box-shadow: 0px 0px 5px gray !important;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: flex;
  gap: 50px;
  justify-content: center;
}
.home-browse-card-left {
  width: 50%;
}
.home-browse-card-right {
  padding-left: 30px;
}
.home-browse-name {
  font-size: 22px;
}
.mbsc-datepicker-tab-wrapper {
  margin-top: -8px;
}
.mbsc-datepicker .mbsc-calendar-slide {
  padding: 0 !important;
}
.mbsc-datepicker .mbsc-calendar {
  padding: 0 !important;
}
.calendar-div {
  padding: 15px !important;
}
.customHeart {
  width: 30px;
  float: right;
}
.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  color: #6671ff !important;
}
.customHeart-active{
  width: 2rem;
  fill: red !important;
  stroke: white !important;
}
@keyframes expand {
  0% {
    width: 56px;
  }
  100% {
    width: 300px;
  }
}
@keyframes contrast {
  0% {
    width: 300px;
  }
  100% {
    width: 56px;
  }
}
@media (max-width:600px) {
    .home-inner{
        z-index: 1;
        height: auto;
    }
    .home-side-div{
        display: none;
    }
    .home-dash-outer{
        border-radius: 15px;
    }
    .home-main-div{
        width: 100%;
        padding: 20px;
    }
    .home-outer{
        height: auto;
    }
    .home-search-bar{
        width: 100%;
    }
    .home-dash-inner-left{
        width: 100%;
    }
    .home-dash-inner-right{
        display: none;
    }
    .home-dash-wel{
        font-family: sans-serif;
        font-size: 1.2rem;
    }
    .home-card-name{
        color: white;
        font-weight: 600;
    }
    .home-card-info{
        color: white;
    }
    .home-card-icon{
        color: white;
    }
    .home-card-name{
      color: white;
      font-weight: 600;
  }
    .home-card-btn{
        color: white !important;
    }
    .home-browse-outer{
    gap: 40px;
  }
    .carousel-item{
        height: 280px;
        margin-bottom: -80px;
    }
    .carousel-control-next{
        display: none;
    }
    .carousel-control-prev{
        display: none;
    }
    .carousel-indicators{
        display: block;
        text-align: center;
    }
    .carousel-indicators [data-bs-target]{
        visibility: hidden;
    }
    .latest-heart{
        width: 1.8rem;
        fill: none !important;
        stroke: white !important;
    }
    .customHeart-active{
      width: 1.8rem;
      fill: red !important;
      stroke: white !important;
  }
    .rs-sidenav{
        position: fixed;
        z-index: 2;
    }
    .rs-sidenav-toggle{
        width: 300px;
        background-color:#141533;
        animation-name: expand;
        animation-duration: 0.5s;
    }
    .rs-sidenav-toggle-collapsed{
        width: 56px;
        background-color:#141533;
        animation-name: contrast;
        animation-duration: 0.5s;
    }
    .mbsc-grid{
        padding: 0 !important;
    }
    .calendar-div{
        margin-left: 0 !important;
        margin-top: 40px;
        margin-bottom: -20px;
        box-shadow: 0px 0px 2px gray !important;
    }
    .home-browse-card{
        flex-direction: column;
    }
    .home-browse-card-left{
        width: 100%;
    }
    .home-browse-card-right{
        width: 100%;
        margin-top: 10px;
        padding: 0;
    }
    .browseHeart{
        margin-top: -38px;
    }
    .heart-outer-div{
        width: 100% !important;
    }
    .css-1plesqt{
        width: 98% !important;
        box-shadow: 0px 1px 5px gray !important;
        margin-top: 10px !important;
    }
    .css-1drdsge-MuiPaper-root-MuiCard-root{
        width: 98% !important;
        box-shadow: 0px 0px 3px gray !important;
        margin-top: 10px !important;
    }
}

@media (max-height:720px) {
  .recent-card{
    display: none;
  }
  .recent-text{
    display: none;
  }
  .calendar-div{
    min-height: 85%;
  }
}