.nav-name{
    color: chocolate !important;
    font-weight: bold;
}
.nav-user-logo{
    border-radius: 50%;
    width: 35px;
    margin-right: 5px;
}
.navbar-tab{
    position: relative;
    top: 5px;
}
.navbar-tab:hover{
    color: chocolate !important;
}