.card {
  /* Sizing */
  height: 270px;
  width: 300px;

  transform-style: preserve-3d;

  /* Content Alignment */
  position: relative;

  /* Styling */
  border-radius: 60px 20px;
  border: 5px solid white;
  box-shadow: 0 0 8px gray;

  user-select: none;
  cursor: pointer;
  transition: 0.5s ease-out;
}
.card:hover {
  transform: scale(1.07);
  /* box-shadow: 0 20px 45px rgba(0, 0, 0, 0.55); */
}

.card-front,
.card-back {
  /* Sizing */
  height: 261px;
  width: 296px;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  /* Alignment */
  position: absolute;

  /* Content Alignment */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* Content Styling */
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  /* text-shadow: -2px 2px 11px rgba(0, 0, 0, 0.9); */
  border-radius: 54px 16px;
}

.card-front {
  /* background-color: #a9def9; */
}

.card-back {
  background-color: #ffad66;
  transform: rotateY(180deg);
}

.flip-exit {
  transform: rotateY(0deg);
}

.flip-exit-active {
  transform: rotateY(180deg);
  transition: transform 300ms;
  transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.flip-exit-done {
  transform: rotateY(180deg);
}

.flip-enter {
  transform: rotateY(180deg);
}

.flip-enter-active {
  transform: rotateY(0deg);
  transition: transform 300ms;
  transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.flip-enter-done {
  transform: rotateY(0deg);
}

.card-event-number {
  font-size: 10rem;
  color: #6671ff;
}

.card-event {
  position: relative;
  top: 48px;
  border-bottom: 2px solid black;
  border-style: dashed;
  color: #161a1d;
}
